/* === GLOBAL DEFAULTS === */
* {
    font-family: "0xProto Nerd Font";
    font-size: 13px;
    min-height: 22px;
}

/* === WAYBAR WINDOW === */
window#waybar {
    background-color: transparent;
    color: #ffffff;
    transition: background-color 0.5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

/* === MODULE WINDOW TITLE === */
#window {
    padding-top: 2px;
    margin-bottom: -2px;
    font-size: 20px;
    font-weight: bold;
}

/* === WORKSPACES === */
#workspaces {
    margin: 0px 5px;
}

#workspaces button {
    min-height: 10px;
    padding: 0px 3px;
    background-color: transparent;
    color: #ffffff;
    border: 0px solid white;
    border-radius: 6px;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused,
#workspaces button.active {
    transition: 0.3s ease;
    /*background-color: #64727D;*/
    background-color: rgba(255,255,255,0.3);
    font-style: italic;
}

#workspaces button.urgent {
    animation: blink 0.5s steps(12) infinite alternate;
}

/* === MODULE POSITIONING === */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0px;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0px;
}

/* === COMMON MODULE STYLING === */
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding-left: 12px;
    padding-right: 12px;
    margin: 0 0px;
    color: #ffffff;
}

/* === BATTERY === */
#battery {
    margin-right: 5px;
}

#battery.charging,
#battery.plugged {
    color: #99ff99;
}

#battery.critical:not(.charging) {
    animation: blink 0.5s steps(12) infinite alternate;
}

#network.disconnected {
    color: #FF7377;
}

/* === IDLE INHIBITOR === */
#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

/* === MODE === */
#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

/* === SCRATCHPAD === */
#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
    background-color: transparent;
}


/* === TRAY === */
#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

/* === ACCESSIBILITY === */
label:focus {
    background-color: #000000;
}

/* Fixing assymetries idk */
#pulseaudio {
    min-width: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

#clock {
    padding-left: 6px;
}


/* animations */
@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

